.layout {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nz-header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
}

.nz-content {
  margin-top: 64px;
}

.nz-footer {
  text-align: center;
  padding: 0;
}
