<nz-layout class="layout">
  <nz-header style="padding: 0 20px">
    <span nz-icon type="home">header component</span>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>

<!-- Global replace loading -->
<ng-template #loadingTemplate>
  <div nz-flex nzAlign="center" nzJustify="center" nzGap="middle">
    <img style="height: 80px; width: 80px" src="" alt="loading"/>
  </div>
</ng-template>

<!-- Back to top -->
<span nz-icon type="home">Back2Top component</span>
